# Cocos Creator
library/
local/
temp/
build/
dist/

# Node / package managers
node_modules/
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
*.log
*.tmp
*.swp
